<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" href="styleHomePage.css">
</head>
<body>
<input type="checkbox" id="check">
<label for="check">
  <i class="fas fa-bars" id="btn"></i>
  <i class="fas fa-times" id="cancel"></i>
</label>
<div class="sidebar">
  <header>OnlineDiary</header>
  <ul>
    <li><a href="#"><i class="fas fa-qrcode"></i>New note</a></li>
    <li><a href="#"><i class="fas fa-qrcode"></i>Edit note</a></li>
    <li><a href="#"><i class="fas fa-qrcode"></i>Delete note</a></li>
  </ul>
</div>
<section></section>

<style>
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
  }

  .ButtonCancel{
      position:relative;
      right:750px;
      top:450px;
  }

  .ButtonSave{
      position:relative;
      left:750px;
      top:400px;

  }

</style>
</body>
<body>
<button onclick="openBlankPage()" style="width:150px;height:50px" class="ButtonCancel" align=”right”>Отмена</button>
<button onclick="openTablePage()" style="width:150px;height:50px" class="ButtonSave">Сохранить</button>

<script>
  function openBlankPage() {
    window.open('', '_blank');
  }

  function openTablePage() {
    window.open('table.html', '_blank');
  }
</script>
</body>
</html>
</body>
</html>

