<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create account</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            background-image: url(Desktop.jpg); /* Укажите путь к вашему изображению */
            background-size: cover; /* Растянуть изображение, чтобы оно покрыло весь экран */
            background-repeat: no-repeat; /* Запретить повторение изображения */
        }

        .card {
            border: 2px solid #343a40;
            border-radius: 10px;
            background-color: rgba(152, 155, 156, 0.41)
        }

        .card-header {
            font-size: 24px;
            font-weight: bold;
        }
    </style>
</head>
<body>
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header text-center">Регистрация</div>
                <div class="card-body">
                    <form th:method="POST" th:action="@{/people/{id}(id=${person.getId()})}" th:object="${person}">
                        <div class="form-group">
                            <input type="text" placeholder="Email" th:field="*{email}" class="form-control" id="email"/>
                            <!--                            <div style="color: red;" th:if="${#fields.hasErrors('')}" th:errors="*{email}">Email error</div>-->
                        </div>
                        <div class="form-group">
                            <input type="password" placeholder="Password" th:field="*{password}" class="form-control"
                                   id="password"/>
                            <!--                            <div style="color: red;" th:if="${#fields.hasErrors('')}" th:errors="*{password}">Password error</div>-->
                        </div>
                        <!--                        <div class="form-group">-->
                        <!--                            <input type="repeat password" placeholder="Repeat password" th:field="*{password}" class="form-control" id="repeat password" name="repeat password" />-->
                        <!--                        </div>-->
                        <!--                        <div class="form-group">-->
                        <!--                            <label for="confirmPassword">Подтвердите пароль:</label>-->
                        <!--                            <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" />-->
                        <!--                        </div>-->
                        <div class="text-center">
                            <button type="submit" class="btn btn-primary" style="margin-right: 10px"><a
                                    href="/Diary/src/main/resources/templates/Login.html"
                                    style="color: white; text-decoration: none; ">Вернуться</a></button>

                            <button type="submit" class="btn btn-primary" name="addAccount"><a
                                    href="/Diary/src/main/resources/templates/Login.html"
                                    style="color: white; text-decoration: none;">Зарегистрироваться</a></button>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function submitForm() {
        var name = document.getElementById("name").value;
        var email = document.getElementById("email").value;

// Отправляем данные на сервер
        fetch('/saveData', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({name: name, email: email}),
        })
            .then(response => response.json())
            .then(data => {
                console.log('Успех:', data);
                alert('Данные успешно сохранены!');
            })
            .catch((error) => {
                console.error('Ошибка:', error);
                alert('Ошибка при сохранении данных.');
            });
    }
</script>
</body>
</html>
