<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="styleHomePage.css">
</head>
<body>
<input type="checkbox" id="check">
<label for="check">
    <i class="fas fa-bars" id="btn"></i>
    <i class="fas fa-times" id="cancel"></i>
</label>

<div class="sidebar">
    <header style="font-family: cursive; font-size: 27px">OnlineDiary</header>
    <ul>
        <li><a href="/Diary/src/main/resources/templates/newPage.html"><i class="fas fa-qrcode"></i>New note</a></li>
        <li><a href="/Diary/src/main/resources/templates/deletePage.html"><i class="fas fa-qrcode"></i>Delete note</a>
        <li><a href="http://maps.google.ru/maps"><i class="fas fa-qrcode"></i>Google Maps</a>
        <li><a href="http://mathsolver.microsoft.com/ru/algebra-calculator"><i class="fas fa-qrcode"></i>Calculator</a>
        <li><a href="/Diary/src/main/resources/templates/login.html" id="buttonExit"><i class="fas fa-qrcode"></i>Exit</a></li>
    </ul>
</div>
<section></section>
</body>
</html>



