<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="styleHomePage.css">
</head>
<body>
<input type="checkbox" id="check">
<label for="check">
    <i class="fas fa-bars" id="btn"></i>
    <i class="fas fa-times" id="cancel"></i>
</label>
<div class="sidebar">
    <header>OnlineDiary</header>
    <ul>
    <li><a href="#"><i class="fas fa-qrcode"></i>New note</a></li>
    <li><a href="#"><i class="fas fa-qrcode"></i>Edit note</a></li>
    <li><a href="#"><i class="fas fa-qrcode"></i>Delete note</a></li>
    </ul>
</div>
    <section></section>
</body>
</html>



<!--<header>-->
<!--    <h1 href="#" class="logo">OnlineDiary</h1>-->
<!--    <a href="#" class="exit">Exit</a>-->
<!--</header>-->