<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
    body, html {
      height: 100%;
      margin: 0;
    }

    #document-content {
      width: 100%;
      height: 100%;
      resize: none; /* Отключает возможность изменения размера */
      border: none; /* Скрыть границы текстового поля */
      outline: none; /* Скрыть контур при фокусе (опционально) */
    }
  </style>
</head>
<body>
<textarea id="document-content"></textarea>
</body>
</html>
